body{
	margin:0;
	padding: 0;

}

#IDCNavList{
	display: none !important;
}

#IDCommentsHeadLogin{
	display: none !important;
}

.idc-head_tools-share{
	display: none !important;
}





.body{
	position: relative;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	overflow-y: auto;

}

.hire{
	position: fixed;
	z-index: 999;
	background-color: #2ecc71;
	border-radius: 10px;
	padding: 1em;
	color: white;
	font-size: calc(0.75em + .5vmin);
  font-family: 'Raleway', sans-serif !important;
	right: 5%;
	top: 12%;
	cursor: pointer;
	box-shadow: 0px 3px 2px 1px rgba(45,45,45,.5);
	transition: 0.3s ease;
}




.hireClick{
	top: 10%;
	left: 20%;
	bottom: 10%;
	right: 20%;
	transition: 0.3s ease;
	text-align: center;
  font-family: 'Raleway', sans-serif !important;
  font-size: calc(1.5em + 1.3vmin);
}


.background{
  	background: linear-gradient(#2ecc71, #16a085); /* Standard syntax */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	transition: background .2s ease;
}


.start{
	background-image:url("https://s20.postimg.cc/s44630fa5/image.jpg") !important;
	background-size: cover;
	  background-position: center;
	  position: relative;
	  top: 10px;
	  left: 10px;
	  right: 10px;
	  bottom: 10px;
  }
  .center{
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  .nombre{
	text-align: center;
	text-shadow: 0px 10px rgba(46, 204, 113,.6);
	color: white;
  font-family: 'Raleway', sans-serif !important;
  font-size: calc(5.75em + 5.3vmin);
	font-weight: bold;
	animation-delay: 0.5s;
}

.nombre p{
	margin-top: -.6em;
}

.iam{
	color: white;
	animation-delay: 0.6s;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	border: 1px solid white;
	color: #2ecc71;
	background-color: white;
	padding: .5em;
	border-radius: 5px;
	border-bottom: 6px solid #2ecc71;
  font-size: calc(0.75em + 1.3vmin);
}


#first{
	background-color: #2d2d2d;
}

#first p{
	font-family: 'Open Sans', sans-serif;
}

.fa-heart{
	color: #e74c3c;
}

.yo{
	border: 12px solid #2ecc71;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
}

#second{
	background-color: #fff;
	width: 100%;
}



#second .squareText{
	text-align: center;
	width: 95%;
}


.habilidades{
	width: 60%;
	margin: 0 auto;
}


.habilidad{
	width: 17%;
	  min-width: 6em;
	  border-radius: 5%;
	  padding: .5em;
	  background-color: #fff;
	  border-bottom: 6px solid #2ECC71;
	  margin: .5em;
	  display: inline-block;
	  box-shadow: 0px -0px 2px 1px rgba(45,45,45,.5);
	  transition: 0.3s linear;
  }
  
  .habilidad:hover{
	  box-shadow: 0px 6px 8px 1px rgba(45,45,45,.4);
	  transform: translate(0px, -4px) !important;
	  transition: 0.3s ease;
  }
  
  
.habilidadPorcentaje{
	width: 100%;
	background-color: #2d2d2d;
	text-align: center;
}

.progress{
	color: white;
	font-family: 'Baloo Bhai', cursive;
}
.html{
	background-color: #F39C12;
	width: 70%;
}

.css{
	background-color: #3498DB;
	width: 80%;
}

.angular{
	background-color: #b42020;
	width: 50%;
}

.flutter{
	background-color: #54c5f8;
	width: 50%;
}

.boot{
	background-color: #6cb33e;
	width: 50%;
}

.android{
	background-color: #2ECC71;
	width: 55%;
}

.mysql{
	width: 60%;
	background-color: #E67E22;
}

.java{
	background-color: #E74C3C;
	width: 65%;
}

.Postgresql{
	background-color: #0b3ad4;
	width: 65%;
}


.square{
	width: 100%;
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 2em;
}

.squareTitle{
	text-align: center;
	color: #2ecc71;
	font-family: 'Arvo', serif;
  font-size: calc(0.85em + 1.4vmin);
	margin-left: 20%;
}

.squareSubTitle{
	color: #bdc3c7;
	margin-left: 10px;
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;
	border-left: 3px solid #bdc3c7;
}

.squareTitleRight{
	text-align: center;
	color: #2ecc71;
	font-family: 'Arvo', serif;
  font-size: calc(0.85em + 1.4vmin);
	margin-right: 20%;
}

.squareImage{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}


.image{
	max-width: 16em;
  max-height:12em;
  width: auto;
  height: auto;
  margin:auto;
	display:block;
}

.squareText{
	width: 60%;
	display: inline-block;
	vertical-align: top;
	padding: 2%;
}


p{
	margin:  auto;
	color: white;
	line-height: 1.6;
  font-size: calc(0.9em + 1.3vmin);
}


.display{
	display: none;
}


.displaySee{
	display: block;
}


.visible {
    opacity: initial;
}