

<body>
    <div class="background"></div>


        <div class="toggle toggle-soft"></div>
    

    

    


        <div class="start">


            <div class="center">
                <div class="nombre animated fadeInLeft"><p>JO</p><p>SE</p><p>..</p></div>
                <div class="iam animated fadeInLeft">
                <span class="espanol">Programador |</span>
                <span class="ingles"> Developer</span> | UI Styler</div>
            </div>
        </div>

    <div class="body" id="body"> 
        <div class="square" id="first">
            <div class="squareTitle">
                <span class="espanol">Sobre mí |</span>
                <span class="ingles"> About me</span>
          
            </div>
            <div class="squareImage show1 hidden"><img class="image yo" src="./assets/perfil.jpg" style="background-color:white;"></div>
            <div class="squareText sobreMi show1 hidden">
                <p class="espanol">
                    Mi nombre es Jose Miguel Causil montes, de la ciudad de Sincelejo, me encuentro en el ultimo 
                    semestre de ingeniero de sistema, me considero una persona responsable, proactivo, organizado, 
                    disciplinado y listo para trabajar en equipo, cada día me esfuerzo para mejorar en todos
                     los campos, me gusta seguir aprendiendo más y actualizando mi conocimiento. Me encanta 
                     la programación, sobre todo la parte del backend, el crear los procesos internos de 
                     cualquier aplicación (web o móvil)  y dar solución optimas para el equipo o cliente es
                      algo emocionante.</p>
                    <p class="espanol">Por último quiero mencionar que trabajo para mejorar mi Inglés.</p>
             
              </div>
        </div>

        <div class="square" id="second">
            <div class="squareTitleRight">
                <span class="espanol">Mis habilidades |</span>
                <span class="ingles"> My abilities</span>
           
            </div>
            <div class="squareText show2 hidden">
                <div class="habilidades">
                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/html.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress html">70%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/css3.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress css">70%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/angular.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress angular">50%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/flutter.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress flutter">50%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/spring.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress boot">50%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/android.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress android">55%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/mysql.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress mysql">60%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/java.png" width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress java">65%</div></div>
                    </div>

                    <div class="habilidad show2 hidden">
                        <div class="habilidadIcon">
                            <img src="./assets/Postgresql.png"  width="85" height="123.281">
                        </div>
                        <div class="habilidadPorcentaje"><div class="progress Postgresql">50%</div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="square" id="first">
            <div class="squareTitleRight">
                <span class="espanol">Contacto |</span>
                <span class="ingles"> Contact</span>
           
            </div>
            <div class="squareText show2 hidden">
                <div class="habilidades">

                    <div class="squareText sobreMi show1 hidden">
                        <p class="espanol">Correo: Josecausil.jcm@gmail.com</p>
                            <p class="espanol">repositorio Github: <a href="https://github.com/josecausil/bootcampFullstackSP">Github</a></p>
                     
                      </div>

        
                </div>
            </div>
        </div>


    </div>
 
</body>


<!-- partial -->


