@import '~bootstrap/dist/css/bootstrap.min.css';

.formularioRegistro{
    padding-left: 10%;
    padding-right: 30%;
    margin-top: 7%;
}

table {
    width: 100%;
  }

  .check {
    display: flex;
    align-items: flex-end;

  }

  #div-consing{
    padding-left: 10%;
  }

  #div-transfer{
    padding-left: 10%;
  }